/.gsd-keyboard.settings-ported
/Android Open Source Project
/Atom
/Blackmagic Design
/BraveSoftware
/Code
/GIMP
/Google
/JetBrains
/QtProject.conf
/RStudio
/autostart
/balena-etcher-electron
/btop
/chromium
/code-server
/codeblocks
/configstore
/create-next-app-nodejs
/dconf
/enchant
/eog
/evolution
/fish
/flutter
/gedit
/gitmoji-nodejs
/glib-2.0
/gnome-control-center
/gnome-initial-setup-done
/gnome-session
/goa-1.0
/google-chrome
/google-chrome-beta
/google-chrome-dev
/google-chrome-unstable
/gsconnect
/gtk-3.0
/gtk-4.0
/hardhat-nodejs
/ibus
/libreoffice
/matplotlib
/menus
/microsoft-edge
/microsoft-edge-dev
/mimeapps.list
/monero-project
/monitors.xml
/monitors.xml~
/nautilus
/neofetch
/nextjs-nodejs
/procps
/pulse
/remmina
/rstudio
/sublime-text
/systemd
/totem
/transmission
/update-notifier
/user-dirs.dirs
/user-dirs.locale
/vlc
/vscode-sqltools
/yarn
/yelp